$green:#49aa45;
$gray333:#333333;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 微軟正黑體;
}
// 橫幅
#banner{
    width: 1920px;
    height: 1280px;
    background: url(/img/invalid-name.png);
    display: grid;
    align-items: center;
        img {
         margin: 0 auto;
    }
}
// 導覽列
nav{
    position: fixed;
    width: 1920px;
        // 導覽列的盒子
        #box{
            margin: 59px auto 0;
            width: 1200px;
            display: grid;
            grid-template-columns: 204px 351px 398px 120px 110px;
            // ig facebook
            // 最新消息、推薦飲品、經營理念
            #link{
                display: grid;
                grid-template-columns: repeat(3,1fr);
                align-items: flex-end;
                padding: 0 50px;
                    a{
                    text-decoration: none;
                    color: white;
                    font-size: 18px;
                    font-weight: 100;
                    &:nth-child(2){
                        text-align: center;
                    }
                    &:nth-child(3){
                        text-align: right;
                    }
                }
            }
            #social{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                align-items: flex-end;

                a:nth-child(2){
                    text-align: right;
                }
            }
        }
}
#contant{
    width: 1920px;
    background: url(/img/5.png);
    border: 0.1px solid rgba(0,0,0,0);
    h1{
        margin-top: 46px;
        margin-bottom: 59px;
        font-weight: 300;
        letter-spacing: 9.6px;
        font-size: 32px;
        text-align: center;
    }
    #new{
        width: 1200px;
        margin: 0 auto;
        display:grid ;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 20px;
        > div{
            background: white;
            padding: 40px 30px;

            h3{
                color: $green;
                font-size: 12px;
                font-weight: 300;
                letter-spacing: 3.6px;
                text-align: center;
            }
            h4{
                font-size: 22px;
                font-weight: bold;
                letter-spacing: 5.5px;
                text-align: center;
            }
            p{
                color: $gray333;
                font-size: 16px;
                font-weight: 300;
                line-height: 1.88;
                letter-spacing: 4.8px;
            }
            hr{
                width: 0;
                transition: 0.5s;
                border: 0.5px solid black;
            }
            div{
                position: relative;
                font-size: 0;
            }
            div::before{
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background: black;
                z-index: 1;
                opacity: 0;
                transition: 0.5s;
            }
            img{
                width: 100%;
            }
            &:hover{
                hr{
                    width: 100%;
                }
                div::before{
                    opacity: 0.5;
                }
            }
        }
    }
    #product{
        text-align: center;
        position: relative;
        width: 1200px;
        margin: 0 auto;
        div{
            width: 240px;
            height: 350px;
            position: absolute;
            top:73px;
            right: 161px;
            h1{
                font-size: 30px;
                color: #f5bb28;
            }
            h2{
                font-size: 16px;
                color: #cccccc;
                letter-spacing: 2.8px;
                text-align: left;
                margin-top: -50px;
                margin-bottom: 10px;
            }
            b{
                font-size: 20px;
                line-height: 2.5;
                letter-spacing: 5px;
                text-align: left;
                color: #000000;
            }
        }
    }
    // 經營理念
    #text{
        width: 1200px;
        margin:0 auto;
        display: grid;
        grid-template-columns: 620px auto;
        grid-gap: 20px;
        padding-right: 20px;
        img{
            border: 10px solid white;
        }
        div{
            padding-left: 20px;
            h1{
                font-size: 24px;
                font-weight: 300;
                line-height: normal;
                letter-spacing: 7.2px;
                text-align: left;
                color: #000000;
            }
            h2{
                font-size: 20px;
                font-weight: 300;
                line-height: 2.5;
                letter-spacing: 6px;
                text-align: left;
                color: #000000;
            }
            button{
                width: 220px;
                height: 52px;
                border: 1px solid black;
                margin-top: 51px;
            }
        }
    }
}
#footer-logo{
    background:url(/img/5.png);
    height: 414px;
    width: 100%;
    text-align: center;
    img{
        margin-top: 126px;
    }
}
#footer{
    text-align: center;
    margin-bottom: 137px;
    margin-top: -200px;
    color:black;
    letter-spacing: 3px
    line-height: 5;
}
