*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 微軟正黑體;
}
// 橫幅
#banner{
    width: 1920px;
    height: 1280px;
    background: url(/img/invalid-name.png);
}
// 導覽列
nav{
    position: fixed;
        // 導覽列的盒子
        #box{
            margin: 59px auto 0;
            width: 1200px;
            display: grid;
            grid-template-columns: 204px 351px 398px 120px 110px;
        }
}

